$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;
$experimental-support-for-svg: true;
$experimental-support-for-pie: true;
$pie-default-approach: relative !default;
$pie-behavior: stylesheet-url("/sites/all/themes/drupalcamp/js/PIE.htc") !default;

@mixin pie-element($approach: $pie-default-approach, $z-index: 0) {
  behavior: $pie-behavior;
  @if $approach == relative {
    position: relative;
  }
  @else if $approach == z-index {
    z-index: $z-index;
  }
}