@import url(http://fonts.googleapis.com/css?family=Poppins:400,700|Eczar|Pacifico);
/* line 1, ../sass/base/_forms.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, ../sass/base/_forms.scss */
input[type="submit"] {
  padding: 1%;
  background: linear-gradient(#33cfff 0%, #3392fe 100%);
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  behavior: url("/sites/all/themes/drupalcamp/js/PIE.htc");
  text-transform: uppercase;
  border-style: none;
  margin-bottom: 10px; }

/* line 18, ../sass/base/_forms.scss */
input[type="text"], input[type="email"], input[type="password"], select {
  width: 50%;
  color: #999999;
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
  border: solid 2px #e2e2e2;
  border-radius: 5px; }
  /* line 26, ../sass/base/_forms.scss */
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
    border-color: #e2583c; }

/* line 31, ../sass/base/_forms.scss */
input[type="text"].form-autocomplete {
  padding: 0;
  font-size: 13px; }

/* line 36, ../sass/base/_forms.scss */
legend {
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 1, ../sass/base/_header.scss */
.l-header {
  position: relative;
  min-height: 170px;
  text-align: center; }
  /* line 6, ../sass/base/_header.scss */
  .l-header .site-logo {
    margin: auto; }
  /* line 10, ../sass/base/_header.scss */
  .l-header .site-name {
    display: none; }
  /* line 14, ../sass/base/_header.scss */
  .l-header .l-header-inner {
    background: url(../images/banner-bg.png) center bottom repeat-x;
    background-size: auto 100%; }
  /* line 19, ../sass/base/_header.scss */
  .l-header .l-branding {
    background: url(../images/banner.jpg) transparent center bottom no-repeat;
    background-size: auto 100%;
    min-height: 500px; }
    /* line 24, ../sass/base/_header.scss */
    .l-header .l-branding .block--dcb-cod {
      margin-top: 20px; }
      /* line 29, ../sass/base/_header.scss */
      .l-header .l-branding .block--dcb-cod .ticket-type-ticket-type {
        display: none; }
      /* line 32, ../sass/base/_header.scss */
      .l-header .l-branding .block--dcb-cod .form-submit {
        background: linear-gradient(#ffb90f 0%, #ff920e 100%);
        border: 3px double #fff;
        font-size: 1.2em;
        font-weight: bold; }
    /* line 40, ../sass/base/_header.scss */
    .l-header .l-branding .view-drupal-camp-sponsors {
      margin-top: 12px;
      padding-top: 20px;
      background: rgba(255, 255, 255, 0.7); }
      /* line 45, ../sass/base/_header.scss */
      .front .l-header .l-branding .view-drupal-camp-sponsors {
        padding-top: 10px; }
      /* line 49, ../sass/base/_header.scss */
      .l-header .l-branding .view-drupal-camp-sponsors .view-footer {
        margin-top: -1.6em;
        color: #fff;
        font-size: 1.4em;
        text-transform: uppercase;
        text-shadow: 0 0 10px #1A1A1A;
        position: relative;
        top: -4em; }
      /* line 61, ../sass/base/_header.scss */
      .l-header .l-branding .view-drupal-camp-sponsors .view-content {
        margin: 0 auto; }
        /* line 63, ../sass/base/_header.scss */
        .l-header .l-branding .view-drupal-camp-sponsors .view-content .views-row {
          display: inline-block; }
        /* line 66, ../sass/base/_header.scss */
        .l-header .l-branding .view-drupal-camp-sponsors .view-content .views-row-1 {
          margin-right: 10%; }
        /* line 72, ../sass/base/_header.scss */
        .l-header .l-branding .view-drupal-camp-sponsors .view-content .views-row-2 {
          margin-left: 10%; }
      /* line 81, ../sass/base/_header.scss */
      .not-front .l-header .l-branding .view-drupal-camp-sponsors .view-footer {
        font-size: 1.1em; }
      /* line 84, ../sass/base/_header.scss */
      .not-front .l-header .l-branding .view-drupal-camp-sponsors img {
        height: 100px;
        width: auto; }

/* line 94, ../sass/base/_header.scss */
.node-type-event .l-header .l-header-inner {
  background: url(../images/banner-bg.png) center top repeat-x;
  background-size: auto 100%; }
/* line 99, ../sass/base/_header.scss */
.node-type-event .l-header .l-branding {
  background: url(../images/banner.jpg) transparent center top no-repeat;
  background-size: auto 100%;
  min-height: 800px; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
th {
  text-align: center; }

/* line 6, ../sass/base/_tables.scss */
thead th {
  padding: 0.5%;
  background: #3c9dfc;
  color: #fff;
  border-spacing: 0;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase; }
  /* line 14, ../sass/base/_tables.scss */
  thead th .active {
    color: white; }

/* line 20, ../sass/base/_tables.scss */
td {
  padding: 15px;
  text-align: left;
  color: #34495E;
  border: 2px solid #ffffff;
  border-spacing: 0; }
  /* line 26, ../sass/base/_tables.scss */
  td a {
    text-decoration: none;
    color: #6C7A89; }
    /* line 29, ../sass/base/_tables.scss */
    td a:hover {
      color: #ff6243; }

/* line 35, ../sass/base/_tables.scss */
tr.odd {
  background: #ecf0f1; }

/* line 39, ../sass/base/_tables.scss */
tr.even {
  background: #ECECEC; }

/* line 3, ../sass/base/_typography.scss */
body {
  font-family: "Poppins", "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  overflow-x: hidden;
  color: #25242a;
  font-size: 16px; }

/* line 10, ../sass/base/_typography.scss */
h1, h2, h3 {
  font-family: "Eczar", serif; }

/* line 14, ../sass/base/_typography.scss */
.page-title {
  padding-top: 2em;
  padding-bottom: 0.5em; }

/* line 19, ../sass/base/_typography.scss */
.front h1 {
  font-family: "Pacifico", cursive;
  color: #33CCFF; }

/* line 24, ../sass/base/_typography.scss */
p {
  font-size: 18px;
  line-height: 1.4em;
  padding-bottom: 16px; }

/* line 30, ../sass/base/_typography.scss */
a {
  text-decoration: none !important; }

/* line 34, ../sass/base/_typography.scss */
a:hover {
  transition: all 0.3s linear;
  text-shadow: 0 0 15px #fff; }

/* Copied from Barcelona site for now. TODO: Break it up later into manageable chunks. */
/* line 2, ../sass/components/_content.scss */
.not-front .l-main article,
.l-content > form,
.l-main .tabs,
.l-main .messages,
.l-main .user-tickets,
.page-title,
.l-region--footer,
.action-links,
.l-navigation .l-constrained,
.webform-confirmation,
.l-content .node-session,
.l-content .node-page,
.l-content .entity-ticket-registration {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto; }

/* line 20, ../sass/components/_content.scss */
.node--full .field--name-body p, .panelizer-view-mode.node-full .field--name-body p {
  text-indent: 2em; }
  /* line 3, ../sass/abstractions/_dropcaps.scss */
  .node--full .field--name-body p:first-child, .panelizer-view-mode.node-full .field--name-body p:first-child {
    text-indent: 0; }
  /* line 6, ../sass/abstractions/_dropcaps.scss */
  .node--full .field--name-body p:first-child::first-letter, .panelizer-view-mode.node-full .field--name-body p:first-child::first-letter {
    float: left;
    font-family: "Eczar", serif;
    font-size: 3.75rem;
    color: #ffb90f;
    line-height: 2.5rem;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 3px; }

/* line 27, ../sass/components/_content.scss */
.entity-ticket-registration .field-label {
  display: inline-block;
  width: 30%;
  font-weight: bold; }

/* line 35, ../sass/components/_content.scss */
.ticket-register-form .already-registered-warning {
  padding: 4px 10px;
  border: 2px dashed #ff920e;
  background-color: #ffb90f; }

/* line 1, ../sass/components/_footer.scss */
.l-footer {
  background: #3c9dfc;
  width: 100%;
  color: #ffffff;
  letter-spacing: 1px; }
  /* line 6, ../sass/components/_footer.scss */
  .l-footer .l-region--footer {
    padding: 1%;
    text-align: center; }

/* There needs to be a lot of work done on the styles below. */
/* line 5, ../sass/components/_home.scss */
.front .panelizer-view-mode .pane-node-body {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto; }
  /* line 10, ../sass/components/_home.scss */
  .front .panelizer-view-mode .pane-node-body p {
    text-indent: 2em; }
    /* line 3, ../sass/abstractions/_dropcaps.scss */
    .front .panelizer-view-mode .pane-node-body p:first-child {
      text-indent: 0; }
    /* line 6, ../sass/abstractions/_dropcaps.scss */
    .front .panelizer-view-mode .pane-node-body p:first-child::first-letter {
      float: left;
      font-family: "Eczar", serif;
      font-size: 3.75rem;
      color: #ffb90f;
      line-height: 2.5rem;
      padding-top: 8px;
      padding-right: 10px;
      padding-left: 3px; }
/* line 16, ../sass/components/_home.scss */
.front .panel-panel.panel-col-top, .front .panel-panel.panel-col-bottom {
  width: 100%; }
/* line 21, ../sass/components/_home.scss */
.front .view-drupal-camp-sponsors.view-display-id-panel_pane_2 {
  background: #FFF0CF; }
/* line 24, ../sass/components/_home.scss */
.front .view-drupal-camp-sponsors.view-display-id-panel_pane_3 {
  background: #d2d2d2; }
/* line 28, ../sass/components/_home.scss */
.front .view-drupal-camp-sponsors .view-header h3 {
  font-family: "Poppins", "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1A1A1A;
  text-align: center;
  color: #fff; }
/* line 38, ../sass/components/_home.scss */
.front .view-drupal-camp-sponsors .view-content {
  text-align: center; }
  /* line 40, ../sass/components/_home.scss */
  .front .view-drupal-camp-sponsors .view-content .views-row {
    display: inline-block;
    padding: 0 5px; }
/* line 47, ../sass/components/_home.scss */
.front .center-wrapper {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto; }
  /* line 52, ../sass/components/_home.scss */
  .front .center-wrapper .panel-col-first {
    width: 70%; }
    /* line 59, ../sass/components/_home.scss */
    .front .center-wrapper .panel-col-first .view-related-articles .view-content .views-row {
      padding: 2%;
      behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
      position: relative;
      behavior: url(/sites/all/themes/files/js/PIE.htc); }
      /* line 64, ../sass/components/_home.scss */
      .front .center-wrapper .panel-col-first .view-related-articles .view-content .views-row .views-field-title {
        text-align: center;
        padding-bottom: 10px; }
    /* line 73, ../sass/components/_home.scss */
    .front .center-wrapper .panel-col-first .views-field.views-field-view-node .field-content a {
      padding: 1%;
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzY2ZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMzNiMmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzM5MmZlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33cfff), color-stop(30%, #33b2ff), color-stop(100%, #3392fe));
      background: -moz-linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%);
      background: -webkit-linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%);
      background: linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%);
      border-radius: 7px;
      color: white;
      font-size: 12px;
      display: inline-block;
      behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
      position: relative; }
  /* line 86, ../sass/components/_home.scss */
  .front .center-wrapper .panel-col-last {
    width: 30%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
    position: relative;
    behavior: url(/sites/all/themes/files/drupalcamp/js/PIE.htc); }
    /* line 94, ../sass/components/_home.scss */
    .front .center-wrapper .panel-col-last .sharebuttons {
      float: none;
      margin-left: 2%;
      padding-top: 1%; }
      /* line 98, ../sass/components/_home.scss */
      .front .center-wrapper .panel-col-last .sharebuttons div {
        display: inline-block;
        margin-left: 10px; }

/* line 113, ../sass/components/_home.scss */
.field-content p {
  padding-top: 10px;
  text-align: justify; }
/* line 117, ../sass/components/_home.scss */
.field-content h3 {
  text-align: left; }

/* line 1, ../sass/components/_navigation.scss */
.l-navigation {
  display: inline;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
  float: left;
  width: 100%;
  background: #3c9dfc;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }
  /* line 13, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551@omega.drupalcamp/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .l-navigation .l-region--navigation:after {
    content: "";
    display: table;
    clear: both; }
  /* line 12, ../sass/components/_navigation.scss */
  .l-navigation ul.menu {
    display: inline-block; }
    /* line 14, ../sass/components/_navigation.scss */
    .l-navigation ul.menu li {
      list-style: none;
      display: inline-block;
      line-height: 1em; }
      /* line 18, ../sass/components/_navigation.scss */
      .l-navigation ul.menu li a {
        position: relative;
        display: block;
        padding: 15px 30px;
        text-decoration: none;
        color: white; }
        /* line 24, ../sass/components/_navigation.scss */
        .l-navigation ul.menu li a:hover {
          transition: all 0.3s linear;
          opacity: 0.8;
          text-decoration: none;
          color: #ffffff;
          text-shadow: 0 0 15px #fff; }
  /* line 35, ../sass/components/_navigation.scss */
  .l-navigation #block-superfish-1 {
    float: left; }
  /* line 41, ../sass/components/_navigation.scss */
  .l-navigation .block--system-user-menu, .l-navigation .block--menu-menu-anonymous-user-menu {
    float: right; }

/* line 46, ../sass/components/_navigation.scss */
.sf-sub-indicator {
  display: none; }

/* line 51, ../sass/components/_navigation.scss */
.breadcrumb {
  display: none; }

/* line 58, ../sass/components/_navigation.scss */
.responsive-menus.responsified span.toggler {
  background: transparent;
  box-shadow: none;
  line-height: 45px;
  text-align: left;
  padding-left: 10px; }

/* line 66, ../sass/components/_navigation.scss */
.responsive-menus.responsified .responsive-menus-simple {
  background: #3c9dfc; }

/* line 1, ../sass/components/_sessions.scss */
.view-cod-session-user-presentations,
.page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter,
.page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter,
.page-node-sessions-proposed .view-display-id-track_session_summary > .view-content,
.page-node-sessions-accepted .view-display-id-track_session_summary > .view-content,
.view-display-id-panel_sessions_by_track,
.page-node-schedule .panel-display {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto; }

/* My Sessions page */
/* line 13, ../sass/components/_sessions.scss */
.view-cod-session-user-presentations .views-exposed-form {
  /* We don't need to filter sessions on this page. */
  display: none; }

/* Session page */
/* line 24, ../sass/components/_sessions.scss */
.node-type-session .panel-2col-stacked .center-wrapper .panel-col-first {
  width: 75%; }
/* line 27, ../sass/components/_sessions.scss */
.node-type-session .panel-2col-stacked .center-wrapper .panel-col-last {
  width: 24.9%; }

/* Schedule Page */
/* line 37, ../sass/components/_sessions.scss */
.page-node-schedule .view-cod-schedule-content h3 {
  font-size: 1.4em;
  text-align: center; }
/* line 42, ../sass/components/_sessions.scss */
.page-node-schedule .view-cod-schedule-content .views-row {
  margin-bottom: 0.5em;
  padding: 5px;
  padding-left: 0.5em; }
  /* line 13, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551@omega.drupalcamp/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .page-node-schedule .view-cod-schedule-content .views-row:after {
    content: "";
    display: table;
    clear: both; }
  /* line 47, ../sass/components/_sessions.scss */
  .page-node-schedule .view-cod-schedule-content .views-row.schedule-item {
    background-color: #F0F0F0;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333; }
  /* line 52, ../sass/components/_sessions.scss */
  .page-node-schedule .view-cod-schedule-content .views-row.views-row-last {
    margin-bottom: 2em; }
/* line 57, ../sass/components/_sessions.scss */
.page-node-schedule .view-cod-schedule-content .views-field-title {
  font-family: "Eczar", serif;
  font-size: 1.2em; }
  /* line 60, ../sass/components/_sessions.scss */
  .page-node-schedule .view-cod-schedule-content .views-field-title a {
    color: #3c9dfc; }
/* line 65, ../sass/components/_sessions.scss */
.page-node-schedule .view-cod-schedule-content .views-field-name {
  float: right; }
/* line 70, ../sass/components/_sessions.scss */
.page-node-schedule .view-cod-schedule-content .views-field-field-speakers a {
  color: #000; }
/* line 75, ../sass/components/_sessions.scss */
.page-node-schedule .view-cod-schedule-content .views-field-ops {
  font-size: 0.8em;
  font-style: italic; }
  /* line 78, ../sass/components/_sessions.scss */
  .page-node-schedule .view-cod-schedule-content .views-field-ops a {
    color: #666; }

/* line 13, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p551@omega.drupalcamp/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.node-type-webform .webform-container-inline:after {
  content: "";
  display: table;
  clear: both; }
/* line 4, ../sass/components/_webform.scss */
.node-type-webform .webform-container-inline > label {
  display: block;
  float: left;
  width: 10%; }
/* line 9, ../sass/components/_webform.scss */
.node-type-webform .webform-container-inline input[type="text"], .node-type-webform .webform-container-inline input[type="email"], .node-type-webform .webform-container-inline > div, .node-type-webform .webform-container-inline textarea {
  float: left; }

/* line 15, ../sass/components/_webform.scss */
.webform-confirmation p {
  text-indent: 2em; }
  /* line 3, ../sass/abstractions/_dropcaps.scss */
  .webform-confirmation p:first-child {
    text-indent: 0; }
  /* line 6, ../sass/abstractions/_dropcaps.scss */
  .webform-confirmation p:first-child::first-letter {
    float: left;
    font-family: "Eczar", serif;
    font-size: 3.75rem;
    color: #ffb90f;
    line-height: 2.5rem;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 3px; }

/*# sourceMappingURL=drupalcamp.no-query.css.map */
