
/* Header */
.section-outer-wrapper h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #606060;
    padding-top: 55px;
}


/* Registration Form */
.field--name-ticket-type-label{
    font-size: 20px;
    font-weight: 100;
}

.form-item-ticket-quantity-1 label{
    font-weight: 100;
}

.ticket-type-ticket-type{
    text-align: center;
}

#ticket-field-formatter-view-form{
    text-align: center;
    margin-bottom: 30px;
}

.panel-layout{
    max-width: 100%;
}

input[type="submit"]{
    padding: 1%;
    background: linear-gradient(#33cfff 0%, #3392fe 100%);
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
    text-transform: uppercase;
    border-style: none;
}

.form-item-ticket-quantity-1 input[type="text"]{
    width: 100px;
    background: none;
    border: solid 2px #21a2e1;
    color: #21a2e1;
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
    text-align: center;
    border-radius: 5px;
}

.form-item-ticket-quantity-1 input[type="text"]:focus{
    width: 100px;
    background: none;
    border: solid 2px #21a2e1;
    color: #21a2e1;
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
    text-align: center;
    border-radius: 5px;
}


.ticket-type-ticket-type .content label{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

form{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

form label{
    margin-left: 10%;
    display: block;
    text-align: justify;
    padding-bottom: 5px;
    color: #606060;
    font-size: 16px;
}

input[type="text"]{
    width: 80%;
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
}

input[type="text"]:focus{
    width: 80%;
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2583c;
    border-radius: 5px;
}

input[type="password"]{
    width: 80%;
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
}

input[type="password"]:focus{
    width: 80%;
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2583c;
    border-radius: 5px;
}

.form-type-select label{
    margin-left: 10%;
}

select{
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
}

select:focus{
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2583c;
    border-radius: 5px;
}


.form-wrapper{
    border-style: none;
}

legend{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-textarea-wrapper{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

.field-speakers-add-more-wrapper--2 .form-item{
    text-align: center;
}
/* Sponsors Front Page */

.panel-panel.panel-col-top .panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-1{
    margin-right: 25%;
}

.sponTxt{
    width: 100%;
    text-align: center;
    right: auto;
}


/* Breadcrumbs */
.breadcrumb{
    display: none;
}

ul .breadcrumb{
   margin-top: 10px;
}

.breadcrumb li{
    display: inline;
    padding-left: 30px;
}

.breadcrumb a{
    color: #000000;
}


/* Volunteers Confirm Message */

.webform-confirmation p{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #40d47e;
    width: 200px;
}

.links a{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #34495e;
    width: 200px;
}

footer.node__submitted{
    display: none;
}

/* -- Volunteers Confirm Message */

/* Contact Page */

.node-22 h2{
    display: none;
}

.node-22 p{
   text-align: left;
    font-size: 20px;
    color: #222222;
    letter-spacing: 1px;
}
.node-22 ul{
    text-align: left;
    font-size: 20px;
    color: #222222;
    letter-spacing: 1px;
}


.node-22 li{
    padding-bottom: 5px;
}

/* Session Page */

.form-wrapper{
    margin: 0 auto;
}

.tabledrag-toggle-weight{
    display: none;
}

#edit-body-und-0-format-help{
    display: none;
}

.filter-help{
    display: none;
}

.messages.messages--error{
    text-align: center;
    border-style: none;
    color: #e74c3c;
}

.messages.messages--error ul li{
    padding-top: 5px;
}

.messages.messages--status{
    text-align: center;
    border-style: none;
    font-size: 24px;
    color: #40d47e;
}

.messages.messages--status{
    padding-top: 20px;
}

/* Program Page */

.node-23 h2{
    display: none;
}

/* Sessions page */
.node-25 p{
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    text-align: center;
}

.node-25 p a{
    color: #22A7F0;
    font-weight: bold;
    text-transform: capitalize;
}

.block__content{
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}

.node-25 h2{
    display: none;
}

.block.block--views.block--views-camp-sessions-block{
    text-align: center;
}

.block.block--views.block--views-camp-sessions-block .view-content .field-content{
    display: inline-block;
}

.block.block--views.block--views-camp-sessions-block .view-content .field-content p{
    display: inherit;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

span.field-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

span.field-content a{
    font-weight: bold;
    color: #3498db;
    font-size: 18px;
}

.views-field.views-field-field-accepted,.views-field.views-field-field-speakers,.views-field.views-field-field-experience{
    padding-bottom: 10px;
}

.views-field.views-field-field-accepted{
    color: #27ae60;
    font-weight: bold;
}

.views-field.views-field-field-speakers{
    color: #D2527F;
    font-weight: bold;
}

.views-field.views-field-field-experience{
    color: #674172;
    font-weight: bold;
}


.views-field.views-field-field-accepted span{
    color: #27ae60;
    font-weight: bold;
}

span.views-label.views-label-body{
    display: none;
}

span.views-label.views-label-field-speakers{
    color: #D2527F;
    font-weight: bold;
}

span.views-label.views-label-field-experience{
    color: #674172;
    font-weight: bold;
}

.image-widget.form-managed-file.clearfix{
    text-align: center;
}

.form-item.form-type-radio.form-item-field-experience-und{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.form-item.form-type-radio.form-item-field-experience-und label{
    text-align: left;
    margin-left: 0;
}

/* Individual Session Page */
.column-content-region-inner.left-content-inner.column-inner.panel-panel-inner{
    margin-left: 10%;
}

.field.field--name-field-speakers{
    padding-bottom: 10px;
}

/* Sessions Page */
form.node-form.node-session-form.session-node-form{
    margin: 0 auto;
}

.form-item.form-type-select.form-item-body-und-0-format{
    display: none;
}

.form-item.form-type-managed-file.form-item-field-news-image-und-0{
    margin-left: 10%;
}
.form-item.form-type-managed-file.form-item-field-news-image-und-0 label{
    margin-left: 0;
    padding-bottom: 10px;
}


input.form-submit{
    margin-left: 10px;
}

/* Sponsors Page */
.view.view-cod-sponsors.view-id-cod_sponsors.view-display-id-page{
    background-color: #EEEEEE;
}

.view.view-cod-sponsors.view-id-cod_sponsors.view-display-id-page .view-content{
    text-align: center;
    table-layout: fixed;
    display: table;
    float: none;
    margin: 0 auto;
    padding-top: 2%;
    width: 75%;
}

.view.view-cod-sponsors.view-id-cod_sponsors.view-display-id-page .view-content h3{
    padding-bottom: 20px;
}

.view-content .sponsor{
    display: inline-table;
    padding-left: 10px;
    padding-bottom: 20px;
}

.view-content .sponsor img{
    border-style: none;
    border-radius: 10px;
}

/* Individual Article Page */
.panelizer-view-mode.node.node-full.node-articles h2{
    display: none;
}

.field.field--name-field-article-image.field--type-image.field--label-above .field__label{
    display: none;
}

.field.field--name-field-article-image.field--type-image.field--label-above .field__items{
    margin-left: 10%;
    padding-bottom: 20px;
}

@media (min-width: 200px) and (max-width: 600px){
    .field.field--name-field-article-image.field--type-image.field--label-above .field__items{
        margin-left: 0;
    }
}

