@import url(http://fonts.googleapis.com/css?family=Poppins:400,700|Eczar|Pacifico);
* {
  margin: 0;
  padding: 0;
}

input[type="submit"] {
  padding: 1%;
  background: linear-gradient(#33cfff 0%, #3392fe 100%);
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  behavior: url("/sites/all/themes/drupalcamp/js/PIE.htc");
  text-transform: uppercase;
  border-style: none;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"], select {
  width: 50%;
  color: #999999;
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
  border: solid 2px #e2e2e2;
  border-radius: 5px;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus {
  border-color: #e2583c;
}

.ticket-register-form {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}
.ticket-register-form label {
  padding-bottom: 10px;
  color: rgba(1, 1, 1, 0.7);
}
.ticket-register-form .description {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ticket-register-form #edit-field-speakers .description {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ticket-register-form .field--name-ticket-type-label {
  font-size: 20px;
  font-weight: 100;
}
.ticket-register-form .form-item-ticket-quantity-1 label {
  font-weight: 100;
}
.ticket-register-form .ticket-type-ticket-type {
  text-align: center;
}
.ticket-register-form #ticket-field-formatter-view-form {
  text-align: center;
  margin-bottom: 30px;
}

legend {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-wrapper {
  border-style: none;
}

#user-login {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}
#user-login label {
  padding-bottom: 10px;
  color: rgba(1, 1, 1, 0.7);
}

.contact-site-form {
  margin-right: 10%;
  margin-left: 10%;
}
.contact-site-form label {
  padding-bottom: 10px;
  color: rgba(1, 1, 1, 0.7);
}

.user-pass {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.user-register-form, .user-register-form--2 {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}
.user-register-form .description, .user-register-form--2 .description {
  width: 50%;
}

.l-header {
  position: relative;
  min-height: 170px;
  text-align: center;
}
.l-header .site-logo {
  margin: auto;
}
.l-header .site-name {
  display: none;
}
.l-header .l-header-inner {
  background: url(../images/banner-bg.png) center top repeat-x;
  background-size: auto 100%;
}
.l-header .l-branding {
  background: url(../images/banner.jpg) transparent center top no-repeat;
  background-size: auto 100%;
  min-height: 800px;
}
.l-header .l-branding .block--dcb-cod {
  margin-top: -10px;
}
.l-header .l-branding .block--dcb-cod .ticket-type-ticket-type {
  display: none;
}
.l-header .l-branding .block--dcb-cod .form-submit {
  background: linear-gradient(#ffb90f 0%, #ff920e 100%);
  border: 3px double #fff;
  font-size: 1.2em;
  font-weight: bold;
}
.l-header .l-branding .view-drupal-camp-sponsors .view-footer {
  margin-top: -1.6em;
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1A1A1A;
}
.l-header .l-branding .view-drupal-camp-sponsors .view-content {
  margin: 0 auto;
}
.l-header .l-branding .view-drupal-camp-sponsors .view-content .views-row {
  display: inline-block;
}
.l-header .l-branding .view-drupal-camp-sponsors .view-content .views-row-1 {
  margin-right: 10%;
}
.l-header .l-branding .view-drupal-camp-sponsors .view-content .views-row-2 {
  margin-left: 10%;
}

img, media {
  max-width: 100%;
}

.messages.messages--error {
  text-align: center;
  border-style: none;
  color: #e74c3c;
}

.messages.messages--error ul li {
  padding-top: 5px;
}

.messages.messages--status {
  text-align: center;
  border-style: none;
  font-size: 24px;
  color: #40d47e;
}

.messages.messages--status {
  padding-top: 20px;
}

body {
  font-family: "Poppins", "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  overflow-x: hidden;
  color: #25242a;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: "Eczar", serif;
}

.front h1 {
  font-family: "Pacifico", cursive;
  color: #85ADD5;
}

p {
  font-size: 16px;
  line-height: 1.2em;
  padding-bottom: 10px;
}

a {
  text-decoration: none !important;
}

a:hover {
  transition: all 0.3s linear;
  text-shadow: 0 0 15px #fff;
}

/* Copied from Barcelona site for now. TODO: Break it up later into manageable chunks. */
.l-main-wrapper .container-inner,
.node-type-event .page-title,
.l-region--footer,
.action-links,
.l-navigation .l-constrained,
.page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter,
.page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter,
.page-node-sessions-proposed .view-display-id-track_session_summary > .view-content,
.page-node-sessions-accepted .view-display-id-track_session_summary > .view-content, .view-display-id-panel_sessions_by_track {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto;
}

.l-footer {
  background: #3c9dfc;
  padding-bottom: 5%;
  float: left;
  width: 100%;
  color: #ffffff;
  height: 125px;
  letter-spacing: 1px;
}
.l-footer .l-region--footer {
  padding: 1%;
  text-align: center;
}

/* There needs to be a lot of work done on the styles below. */
.front .panelizer-view-mode .pane-node-body {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto;
}
.front .panelizer-view-mode .pane-node-body p {
  text-indent: 2em;
}
.front .panelizer-view-mode .pane-node-body p:first-child {
  text-indent: 0;
}
.front .panelizer-view-mode .pane-node-body p:first-child::first-letter {
  float: left;
  font-family: "Eczar", serif;
  font-size: 2.5rem;
  color: #ffb90f;
  line-height: 2rem;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.panel-panel.panel-col-top {
  position: relative;
}
.panel-panel.panel-col-top .bxslider-wrap .views-row {
  opacity: 0.2;
  filter: alpha(opacity=20);
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
}
.panel-panel.panel-col-top .bxslider-wrap .views-row img {
  display: block;
}
@media (min-width: 320px) and (max-width: 640px) {
  .panel-panel.panel-col-top .bxslider-wrap {
    position: relative;
  }
}
.panel-panel.panel-col-top .btnWrap a {
  text-align: center;
  padding: 1%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzY2ZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzOTJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33cfff), color-stop(100%, #3392fe));
  background: -moz-linear-gradient(#33cfff 0%, #3392fe 100%);
  background: -webkit-linear-gradient(#33cfff 0%, #3392fe 100%);
  background: linear-gradient(#33cfff 0%, #3392fe 100%);
  border-radius: 7px;
  color: #fff;
  font-size: 12px;
  width: 100px;
  top: 56px;
  z-index: 67;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
  position: absolute;
  left: 46%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .panel-panel.panel-col-top .btnWrap a {
    left: 44%;
    top: 56px;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .panel-panel.panel-col-top .btnWrap a {
    top: 145px;
    left: 39%;
  }
}
.panel-panel.panel-col-top .scrllbtnWrap {
  position: absolute;
  top: 349px;
  z-index: 67;
  color: white;
  left: 48%;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .panel-panel.panel-col-top .scrllbtnWrap {
    top: 185px;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .panel-panel.panel-col-top .scrllbtnWrap {
    background: #b2d9ff;
    position: static;
    width: 100%;
    float: left;
  }
  .panel-panel.panel-col-top .scrllbtnWrap a {
    display: block;
    margin: 0 auto;
    width: 33px;
  }
}
.panel-panel.panel-col-top .bx-controls {
  position: absolute;
  bottom: 20px;
  right: 0%;
  z-index: 67;
  width: 90px;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 640px) {
  .panel-panel.panel-col-top .bx-controls {
    bottom: 0;
  }
}
.panel-panel.panel-col-top .bx-controls .bx-pager-item {
  display: inline-block;
}
.panel-panel.panel-col-top .bx-controls .bx-pager-item .bx-pager-link {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 7px;
  text-indent: -9999px;
  font-size: 0px;
  cursor: pointer;
  background-color: #5e8c9b;
  border: 1px solid #5e8c9b;
  border-radius: 10px;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
}
.panel-panel.panel-col-top .bx-controls .bx-pager-item .bx-pager-link.active {
  background-color: #3592f9;
}
.panel-panel.panel-col-top .bx-controls .bx-controls-direction {
  display: none;
}

.panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDk2ZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd96f), color-stop(30%, #ffffff), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(#ffd96f 0%, #ffffff 30%, #ffffff 100%);
  background: -webkit-linear-gradient(#ffd96f 0%, #ffffff 30%, #ffffff 100%);
  background: linear-gradient(#ffd96f 0%, #ffffff 30%, #ffffff 100%);
}
.panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content {
  display: table;
  float: none;
  margin: 0 auto;
  padding-top: 2%;
  width: 75%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content {
    width: 94%;
  }
  .panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content .views-row {
    float: left;
    width: 154px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content {
    width: 100%;
    padding-top: 4%;
    text-align: center;
  }
  .panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content img {
    width: 75%;
  }
}
.panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content .views-row {
  display: table-cell;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .panel-pane.pane-views-panes.pane-drupal-camp-sponsors-panel-pane-2 .view-content .views-row {
    display: inline-block;
  }
}

.center-wrapper {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto;
}
.center-wrapper .panel-col-first {
  width: 70%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .center-wrapper .panel-col-first {
    width: 100%;
  }
}
.center-wrapper .panel-col-first .view-related-articles .view-content .views-row {
  padding: 2%;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
  behavior: url(/sites/all/themes/files/js/PIE.htc);
}
.center-wrapper .panel-col-first .view-related-articles .view-content .views-row .views-field-title {
  text-align: center;
  padding-bottom: 10px;
}
.center-wrapper .panel-col-first .views-field.views-field-view-node .field-content a {
  padding: 1%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzY2ZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMzNiMmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzM5MmZlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33cfff), color-stop(30%, #33b2ff), color-stop(100%, #3392fe));
  background: -moz-linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%);
  background: -webkit-linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%);
  background: linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%);
  border-radius: 7px;
  color: white;
  font-size: 12px;
  display: inline-block;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
}
.center-wrapper .panel-col-last {
  width: 30%;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
  behavior: url(/sites/all/themes/files/drupalcamp/js/PIE.htc);
}
@media (min-width: 320px) and (max-width: 640px) {
  .center-wrapper .panel-col-last {
    width: 100%;
  }
  .center-wrapper .panel-col-last #twitter-widget-0 {
    width: 100%;
  }
}
.center-wrapper .panel-col-last .sharebuttons {
  float: none;
  margin-left: 2%;
  padding-top: 1%;
}
.center-wrapper .panel-col-last .sharebuttons div {
  display: inline-block;
  margin-left: 10px;
}

.panel-panel.panel-col-bottom {
  width: 100%;
}
.panel-panel.panel-col-bottom .panel-pane.pane-block.pane-menu-menu-footer-menu {
  min-height: 100px;
  background: #3c9dfc;
  float: left;
  width: 100%;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
  behavior: url(/sites/all/themes/files/drupalcamp/js/PIE.htc);
  display: none;
}
.panel-panel.panel-col-bottom .panel-pane.pane-block.pane-menu-menu-footer-menu ul.menu {
  padding-top: 1%;
  text-align: center;
}
.panel-panel.panel-col-bottom .panel-pane.pane-block.pane-menu-menu-footer-menu ul.menu li {
  display: inline-block;
  margin: 0 20px;
}
.panel-panel.panel-col-bottom .panel-pane.pane-block.pane-menu-menu-footer-menu ul.menu li a {
  color: #ffffff;
  letter-spacing: 2px;
}

.panel-panel.panel-col-top .views-field.views-field-field-sponsor-logo {
  background: url("/sites/default/files/images/hexagonal.png") no-repeat left top;
  height: 199px;
  width: 184px;
}

.field-content p {
  padding-top: 10px;
  text-align: justify;
}
.field-content h3 {
  text-align: left;
}

.silverspon-wrap {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.silverspon-wrap .odd, .silverspon-wrap .even {
  width: 154px;
}
@media (min-width: 320px) and (max-width: 640px) {
  .silverspon-wrap .odd, .silverspon-wrap .even {
    float: left;
  }
}
.silverspon-wrap.gold-header h3, .silverspon-wrap.silver-header h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-taxonomy-term-1 .views-responsive-grid .views-column {
    width: 44%;
    padding: 3%;
    float: left;
  }
}

.pane-node-field-event-tickets .form-submit {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.sponTxt {
  position: absolute;
  top: 30%;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.sponTxt p {
  font-variant: small-caps;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
}

.panel-col-middle .field--type-text-with-summary {
  margin-left: 10%;
  margin-right: 10%;
}
.panel-col-middle .field--type-text-with-summary .camp-summary p {
  text-align: justify;
  font-size: 18px;
  line-height: 175%;
}

.social-links .block--menu {
  padding-top: 5px;
}
.social-links .block--menu ul li {
  padding-right: 10px;
  display: inline;
}
.social-links .block--menu ul li a {
  text-transform: uppercase;
  color: rgba(1, 1, 1, 0.7);
}

.view-blogs {
  margin-left: 10%;
  margin-right: 10%;
}
.view-blogs img {
  height: 400px;
  border: solid 1px white;
  border-radius: 10px;
}

.node-page {
  width: 1024px;
  margin: 0 auto;
}
.node-page h2 {
  display: none;
}

/* Silver Sponsors */
.pane-drupal-camp-sponsors-panel-pane-3 {
  display: block;
  min-height: 150px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZDJkMmQyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODQ4NDg0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(30%, #d2d2d2), color-stop(100%, #848484));
  background: -webkit-linear-gradient(#ffffff 0%, #d2d2d2 30%, #848484 100%);
  background: -moz-linear-gradient(#ffffff 0%, #d2d2d2 30%, #848484 100%);
  background: -o-linear-gradient(#ffffff 0%, #d2d2d2 30%, #848484 100%);
  -pie-background: linear-gradient(#ffffff 0%, #d2d2d2 30%, #848484 100%);
  background: linear-gradient(#ffffff 0%, #d2d2d2 30%, #848484 100%);
  behavior: url("/sites/all/themes/drupalcamp/js/PIE.htc");
  position: relative;
}
@media (min-width: 320px) and (max-width: 640px) {
  .pane-drupal-camp-sponsors-panel-pane-3 {
    background: none;
  }
}
.pane-drupal-camp-sponsors-panel-pane-3 .view-content {
  text-align: center;
  table-layout: fixed;
  display: table;
  float: none;
  margin: 0 auto;
  padding-top: 2%;
  width: 75%;
}
@media (min-width: 320px) and (max-width: 640px) {
  .pane-drupal-camp-sponsors-panel-pane-3 .view-content {
    width: 94%;
  }
}
.pane-drupal-camp-sponsors-panel-pane-3 .view-content .views-row {
  display: table-cell;
  padding-left: 20px;
}
@media (min-width: 320px) and (max-width: 640px) {
  .pane-drupal-camp-sponsors-panel-pane-3 .view-content .views-row {
    float: left;
    width: 154px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pane-drupal-camp-sponsors-panel-pane-3 .view-content .views-row {
    display: inline-block;
  }
}
.pane-drupal-camp-sponsors-panel-pane-3 .view-content .silverspon-wrap {
  padding: 12px;
}
.pane-drupal-camp-sponsors-panel-pane-3 .view-content .silverspon-wrap div {
  display: inline-block;
  margin: 0 6px;
}
@media (min-width: 320px) and (max-width: 640px) {
  .pane-drupal-camp-sponsors-panel-pane-3 .view-content .silverspon-wrap div {
    margin-top: 10px;
  }
}

/* --- End of Silver Sponsors  -- */
.l-region--navigation {
  display: inline;
  behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
  position: relative;
  float: left;
  width: 100%;
  background: #3c9dfc;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.l-region--navigation ul.menu li a {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
}
.l-region--navigation ul.menu li a:hover {
  transition: all 0.3s linear;
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0 15px #fff;
}

/* Menu Styling */
#block-superfish-1 .block__content {
  text-align: center;
}

#superfish-1 {
  display: inline-block;
}

.sf-sub-indicator {
  display: none;
}
