* {
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    padding: 1%;
    background: linear-gradient(#33cfff 0%, #3392fe 100%);
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    behavior: url('/sites/all/themes/drupalcamp/js/PIE.htc');
    text-transform: uppercase;
    border-style: none;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 50%;
    color: #999999;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: solid 2px #e2e2e2;
    border-radius: 5px;
    &:focus {
        border-color: #e2583c;
    }
}

legend {
    padding-top: 10px;
    padding-bottom: 10px;
}
