header {
    position: relative;
    min-height: 170px;
    text-align: center;

    .site-logo {
        background-color: #ffffff;
        margin: auto;
    }

    .social-links {
        text-align: left;
        float: right;
        width: 300px;
        position: absolute;
        right: 10px;
        top: 5px;
        .sharebuttons {
            width: 41%;
        }
    }

    .sharebuttons {
        float: right;
        margin-right: 10%;
        div {
            display: inline-block;
            margin-left: 10px;
        }
    }
}
