.messages.messages--error {
    text-align: center;
    border-style: none;
    color: #e74c3c;
}

.messages.messages--error ul li {
    padding-top: 5px;
}

.messages.messages--status {
    text-align: center;
    border-style: none;
    font-size: 24px;
    color: #40d47e;
}

.messages.messages--status {
    padding-top: 20px;
}
