@import url(http://fonts.googleapis.com/css?family=Poppins:400,700|Eczar|Pacifico);

body {
    font-family: $text-font;
    overflow-x: hidden;
    color: #25242a;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: $header-font;
}

.front h1 {
    font-family: $fancy-header-font;
    color: $fancy-header-color;
}

p {
    font-size: 16px;
    line-height: 1.2em;
    padding-bottom: 10px;
}

a {
    text-decoration: none !important;
}

a:hover {
    transition: all 0.3s linear;
    text-shadow: 0 0 15px #fff;
}
