/* Copied from Barcelona site for now. TODO: Break it up later into manageable chunks. */
.not-front .l-main article,
.l-content > form,
.l-main .tabs,
.l-main .messages,
.l-main .user-tickets,
.page-title,
.l-region--footer,
.action-links,
.l-navigation .l-constrained,
.webform-confirmation,
.l-content .node-session,
.l-content .node-page,
.l-content .entity-ticket-registration {
    @include constrain_width;
}

.node--full, .panelizer-view-mode.node-full {
    .field--name-body {
        p {
            @include dropcaps;
        }
    }
}

.entity-ticket-registration {
    .field-label {
        display: inline-block;
        width: 30%;
        font-weight: bold;
    }
}

.ticket-register-form {
    .already-registered-warning {
        padding: 4px 10px;
        border: 2px dashed #ff920e;
        background-color: #ffb90f;
    }
}
