.l-footer {
    background: #3c9dfc;
    padding-bottom: 5%;
    float: left;
    width: 100%;
    color: #ffffff;
    height: 125px;
    letter-spacing: 1px;
    .l-region--footer {
        padding: 1%;
        text-align: center;
    }
}
