/* There needs to be a lot of work done on the styles below. */

.front {
    .panelizer-view-mode {
        .pane-node-body {
            max-width: $wide;
            width: 94%;
            margin: 0 auto;

            p {
                @include dropcaps;
            }
        }
    }

    .panel-panel.panel-col-top, .panel-panel.panel-col-bottom {
        width: 100%;
    }

    .view-drupal-camp-sponsors {
        &.view-display-id-panel_pane_2 {
            background: #FFF0CF;
        }
        &.view-display-id-panel_pane_3 {
            background: #d2d2d2;
        }

        .view-header h3 {
            font-family: $text-font;
            font-size: 1.4em;
            font-weight: normal;
            text-transform: uppercase;
            text-shadow: 0 0 10px #1A1A1A;
            text-align: center;
            color: #fff;
        }

        .view-content {
            text-align: center;
            .views-row {
                display: inline-block;
                padding: 0 5px;
            }
        }
    }

    .center-wrapper {
        max-width: $wide;
        width: 94%;
        margin: 0 auto;

        .panel-col-first {
            width: 70%;
            @include breakpoint($mob) {
                width: 100%;
            }
            .view-related-articles {
                .view-content {
                    .views-row {
                        //  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
                        padding: 2%;
                        @include pie-element();
                        behavior: url(/sites/all/themes/files/js/PIE.htc);
                        .views-field-title {
                            text-align: center;
                            padding-bottom: 10px
                        }
                    }
                }
            }
            .views-field.views-field-view-node {
                .field-content {
                    a {
                        padding: 1%;
                        @include background(linear-gradient(#33cfff 0%, #33b2ff 30%, #3392fe 100%));
                        border-radius: 7px;
                        color: white;
                        font-size: 12px;
                        display: inline-block;
                        @include pie-element();

                    }
                }
            }
        }
        .panel-col-last {
            width: 30%;
            @include breakpoint($mob) {
                width: 100%;
                #twitter-widget-0 {
                    width: 100%;
                }
            }
            .sharebuttons {
                float: none;
                margin-left: 2%;
                padding-top: 1%;
                div {
                    display: inline-block;
                    margin-left: 10px;
                }
            }

            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
            @include pie-element();
            behavior: url(/sites/all/themes/files/drupalcamp/js/PIE.htc);

        }
    }
}

.field-content {
    p {
        padding-top: 10px;
        text-align: justify;
    }
    h3 {
        text-align: left;
    }
}
