.l-region--navigation {
    display: inline;
    @include pie-element();
    float: left;
    width: 100%;
    background: #3c9dfc;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    ul.menu {
        li a {
            display: inline-block;
            padding: 15px 30px;
            text-decoration: none;
            color: white;
            &:hover {
                transition: all 0.3s linear;
                opacity: 0.8;
                text-decoration: none;
                color: #ffffff;
                text-shadow: 0 0 15px #fff;
            }
        }
    }
}

/* Menu Styling */
#block-superfish-1 .block__content {
    text-align: center;
}

#superfish-1 {
    display: inline-block;
}

.sf-sub-indicator {
    display: none;
}
