.l-navigation {
    display: inline;
    @include pie-element();
    float: left;
    width: 100%;
    background: #3c9dfc;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

    .l-region--navigation {
        @include clearfix;
    }
    ul.menu {
        display: inline-block;
        li {
            list-style: none;
            display: inline-block;
            line-height: 1em;
            a {
                position: relative;
                display: block;
                padding: 15px 30px;
                text-decoration: none;
                color: white;
                &:hover {
                    transition: all 0.3s linear;
                    opacity: 0.8;
                    text-decoration: none;
                    color: #ffffff;
                    text-shadow: 0 0 15px #fff;
                }
            }
        }
    }

    #block-superfish-1 {
        float: left;
        @include breakpoint($mob){
          width: 60%;
        }
    }
    .block--system-user-menu, .block--menu-menu-anonymous-user-menu {
        float: right;
    }
}

.sf-sub-indicator {
    display: none;
}

// Breadcrumbs are more trouble than they are worth.
.breadcrumb {
    display: none;
}


//Responsive Menus

.responsive-menus.responsified span.toggler{
  background: transparent;
  box-shadow: none;
  line-height: 45px;
  text-align: left;
  padding-left: 10px;
}

.responsive-menus.responsified .responsive-menus-simple{
  background: #3c9dfc;
}
