.view-cod-session-user-presentations,
.page-node-sessions-proposed .l-content .preface .view-display-id-track_session_filter,
.page-node-sessions-accepted .l-content .preface .view-display-id-track_session_filter,
.page-node-sessions-proposed .view-display-id-track_session_summary > .view-content,
.page-node-sessions-accepted .view-display-id-track_session_summary > .view-content,
.view-display-id-panel_sessions_by_track,
.page-node-schedule .panel-display {
    @include constrain_width;
}

/* My Sessions page */
.view-cod-session-user-presentations {
    .views-exposed-form {
        /* We don't need to filter sessions on this page. */
        display: none;
    }
}

/* Session page */
.node-type-session {
    .panel-2col-stacked {
        .center-wrapper {
            // Override the widths of the center wrapper on the session page.
            .panel-col-first {
                width: 75%;
            }
            .panel-col-last {
                width: 24.9%;
            }
        }
    }
}

/* Schedule Page */
.page-node-schedule {
    .view-cod-schedule-content {
        h3 {
            font-size: 1.4em;
            text-align: center;
        }

        .views-row {
            @include clearfix;
            margin-bottom: 0.5em;
            padding: 5px;
            padding-left: 0.5em;
            &.schedule-item {
                background-color: #F0F0F0;
                border-top: 1px dotted #333;
                border-bottom: 1px dotted #333;
            }
            &.views-row-last {
                margin-bottom: 2em;
            }
        }

        .views-field-title {
            font-family: $header-font;
            font-size: 1.2em;
            a {
                color: #ffb90f;
            }
        }

        .views-field-name {
            float: right;
        }

        .views-field-ops {
            font-size: 0.8em;
            font-style: italic;
        }
    }
}