@mixin dropcaps {
    text-indent: 2em;
    &:first-child {
        text-indent: 0;
    }
    &:first-child::first-letter {
        float: left;
        font-family: $header-font;
        font-size: 3.75rem;
        color: #ffb90f;
        line-height: 2.5rem;
        padding-top: 8px;
        padding-right: 10px;
        padding-left: 3px;
    }
}
